@using Impersonation.Interfaces.Accessors
@using Umbraco.Cms.Core.Security
@using Umbraco.Cms.Web.Common
@using Umbraco.Extensions
@inject IBackofficeUserAccessor BackOfficeSecurity
@inject UmbracoHelper UmbracoHelper
@inject IMemberManager MemberManager

@{
    if (BackOfficeSecurity.BackofficeUser == null)
    {
        return;
    }

    if (await MemberManager.GetCurrentMemberAsync() is not { } member)
    {
        return;
    }

    var dictionaryValue = UmbracoHelper.GetDictionaryValueOrDefault("impersonatingHeader", "{0} is currently impersonating {1}");
    var impersonatingText = dictionaryValue.InvariantFormat([BackOfficeSecurity.BackofficeUser.Name, member.Name]);
}

@if (Model is not false)
{
    <span>
        @impersonatingText
    </span>
    return;
}

<div class="umb-member-impersonation">
    @impersonatingText
</div>


<style>
    .umb-member-impersonation {
        width: 100%;
        background-color: #f3f3f5;
        padding: 12px;
        text-align: center;
    }
</style>
