@using Umbraco.Cms.Core.Security
@inherits UmbracoViewPage
@inject IMemberManager MemberManager
@{
    Layout = "master.cshtml";
    var member = await MemberManager.GetCurrentMemberAsync();
}

@Html.Partial("Umbraco.Community.MemberImpersonation/_ImpersonationLayout")

@if (member == null)
{
    <p>Not Authenticated</p>
}
else
{
    <p>Authenticated with @member.Name</p>
}
