<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c03629d1-2274-4e42-8792-108b719e0461" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-globe-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="421aa7bf-298c-4cf3-bd5b-43c6c46069e4">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>