<?xml version="1.0" encoding="utf-8"?>
<Content Key="abbceaca-40fd-42ee-9e42-f37a2c76de56" Alias="External" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/External</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-08-01T13:32:42</CreateDate>
    <NodeName Default="External" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="421aa7bf-298c-4cf3-bd5b-43c6c46069e4">home</Template>
  </Info>
  <Properties />
</Content>